{{/* the logic should be kept the same as getIssueIcon/getIssueColorClass in JS code, whose closeReasonLooks mirrors shared/close_reason_icon */}}
{{- if .IsPull -}}
	{{- if not .PullRequest -}}
		No PullRequest
	{{- else -}}
		{{- if .IsClosed -}}
			{{- if .PullRequest.HasMerged -}}
				{{- svg "octicon-git-merge" 16 "tw-text-purple" -}}
			{{- else -}}
				{{- template "shared/close_reason_icon" dict "Reason" .CloseReason "IsPull" true "For" "list" -}}
			{{- end -}}
		{{- else -}}
			{{- if .PullRequest.IsWorkInProgress ctx -}}
				{{- svg "octicon-git-pull-request-draft" 16 "tw-text-text-light" -}}
			{{- else -}}
				{{- svg "octicon-git-pull-request" 16 "tw-text-green" -}}
			{{- end -}}
		{{- end -}}
	{{- end -}}
{{- else -}}
	{{- if .IsClosed -}}
		{{- template "shared/close_reason_icon" dict "Reason" .CloseReason "IsPull" false "For" "list" -}}
	{{- else -}}
		{{- svg "octicon-issue-opened" 16 "tw-text-green" -}}
	{{- end -}}
{{- end -}}
